:root {
    --primary-colour: #ff206e;
    --primary-hover-colour: #c40b4f;
    --secondary-colour: #ffbdd4;
    --secondary-hover-colour: #fd9bbd;
    --background-colour: #ffffff;
    --dots-background-colour: #ffedf5;
    --text-colour: #333;
    --border-colour: #ffbdd4;
    --form-background-colour: #ffe5ee;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--dots-background-colour);
    background-image: radial-gradient(circle, #ffffff 25%, transparent 20%), radial-gradient(circle, #ffffff 25%, transparent 20%);
    background-size: 160px 160px;
    background-position: 0 0, 80px 80px;
    color: var(--text-colour);
    line-height: 1.8;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main {
    width: 90%;
    max-width: 800px;
    background-color: var(--background-colour);
    border: 1px solid var(--primary-colour);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 28px;
    font-weight: bold;
    color: var(--primary-colour);
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8px;
    margin-bottom: 30px;
    background-color: var(--form-background-colour);
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form p {
    font-size: 16px;
    color: #444;
    margin-bottom: 10px;
}

form .button-group {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid var(--secondary-colour);
    border-radius: 4px;
    font-family: 'Courier New', monospace;
    font-size: 14px;
    background-color: var(--background-colour);
    color: var(--text-colour);
    box-sizing: border-box; 
}

button {
    background-color: var(--secondary-colour);
    color: var(--primary-colour);
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-colour 0.3s ease;
    max-width: 180px;
}

button.primary-button {
    background-color: var(--primary-colour);
    color: var(--background-colour);
}

button.primary-button:hover {
    background-color: var(--primary-hover-colour);
}

button:hover {
    background-color: var(--primary-hover-colour);
    color: var(--background-colour);
}

select {
    padding: 5px;
    border: 1px solid var(--secondary-colour);
    border-radius: 4px;
    background-color: var(--background-colour);
    color: var(--text-colour);
    font-size: 14px;
}

#rankings {
    background-color: var(--background-colour);
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--border-colour);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#matchesTableContainer {
    padding-top: 20px;
}

h3 {
    margin-top: 0;
    color: var(--primary-colour);
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    text-align: center;
}

#rankings h3 {
    margin-top: 0;
    color: var(--primary-colour);
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    text-align: center;
}

#rankings table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#rankings th {
    text-align: left;
    background-color: var(--primary-colour);
    color: var(--background-colour);
    padding: 10px;
}

#rankings td {
    text-align: left;
    padding: 10px;
    background-color: var(--form-background-colour);
}

#rankings th, #rankings td {
    border-bottom: 1px solid var(--border-colour);
}

#rankings th:last-child, #rankings td:last-child {
    padding-right: 15px;
}

#rankings th:first-child, #rankings td:first-child {
    padding-left: 15px;
}

#rankings ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#rankings li {
    padding: 10px 0;
    border-bottom: 1px solid var(--border-colour);
    font-size: 16px;
    font-family: 'Courier New', monospace;
    color: var(--text-colour);
}

#rankings li:last-child {
    border-bottom: none;
}

.tooltip {
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: #00509e;
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}

.tooltip:hover::after {
    content: attr(title);
    visibility: visible;
    opacity: 1;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: var(--background-colour);
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
    transition: opacity 0.2s ease-in-out;
}

.tooltip:hover::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    z-index: 10;
}

.tooltip-text {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: visibility 0s, opacity 0.2s ease-in-out;
    z-index: 10;
}

.expandable-content {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid var(--secondary-colour);
    border-radius: 4px;
    background-color: var(--background-colour);
    font-size: 14px;
    color: var(--text-colour);
}

.example {
    font-family: monospace;
    padding: 10px;
    border: 1px solid var(--secondary-colour);
    border-radius: 4px;
    color: var(--primary-colour);
    background-color: var(--background-colour);
    font-weight: bold;
}

#matchesTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#matchesTable th {
    text-align: left;
    background-color: var(--primary-colour);
    color: var(--background-colour);
    padding: 10px;
}

#matchesTable td {
    text-align: left;
    padding: 10px;
    background-color: var(--form-background-colour);
}

#matchesTable th, #matchesTable td {
    border-bottom: 1px solid var(--border-colour);
}

#matchesTable th:last-child, #matchesTable td:last-child {
    padding-right: 15px;
}

#matchesTable th:first-child, #matchesTable td:first-child {
    padding-left: 15px;
}

@media (max-width: 768px) {
    main {
        width: 100%;
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }

    form {
        padding: 15px;
    }

    textarea {
        height: 120px;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }

    table {
        font-size: 14px;
    }

    table th, table td {
        padding: 8px;
    }
}
